<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto</title>
    <link rel="stylesheet" href="../assets/css/projeto.css">
</head>
<body>
    <h2>Projeto</h2>
    <section class="conteudo">
        <article class="sobre-projeto">
            <p class="texto-sobre-projeto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit adipisci delectus temporibus deserunt. Placeat deleniti ipsum laudantium quam error quae, harum facere cumque! Obcaecati mollitia vel natus iure adipisci commodi!</p>
            <button class="btn-sobre-projeto">Testar</button>
        </article>
        <aside class="container-img">
            <img src="../assets/img/rick-morty-projeto.png" alt="rick-and-morty-portal">
        </aside>
    </section>
</body>
</html>