<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/css/login.css">
</head>
<body>
    <section class="login">
        <h1>LOGIN</h1>
        <div class="container-img"><img src="../assets/img/rick-login.png" alt="imagem-de-rick"></div>
        <form>
            <input type="email" id="email" class="dados-form" name="email" placeholder="Digite seu email" required autofocus autocomplete="off">
            <input type="password" id="senha" class="dados-form" name="senha" placeholder="Digite sua senha" required autofocus autocomplete="off">
            <button type="submit" id="button-login">Entrar</button>
        </form>
    </section>   
</body>
</html>