<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="../assets/css/sobre.css">
</head>
<body>
    <h2>SOBRE</h2>
    <section class="conteudo">
        <article class="sobre">
            <p class="texto-sobre">Somos um grupo de cinco jovens mentes criativas, unidos por uma paixão comum: a busca incessante pelo conhecimento e o desejo de moldar o futuro por meio da tecnologia.</p>
        </article>
        <aside class="container-img">
            <img src="../assets/img/sobre.png" alt="rick-and-morty-portal">
        </aside>
    </section>
</body>
</html>